.btn{
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.btn-primary{
    background-color: rgb(0, 0, 0);
    color:white;
    width : 100%;
}