body{
    background-color: rgb(255, 255, 255);
    color:rgba(157, 157, 157, 0.756);
}


h1, h2, h3, h4, h5, h6{
    color: black;
}


.d-flex{
    display: flex;
}

header > a{
    text-decoration: none ;
}

