<div class="footer">
    <div class="jsp d-flex">
        <div class="footer-part">
            <h3>Nous contacter</h3>
        
            <p><i class="bi bi-envelope"></i> Portail de contact notre équipe s'engage à vous répondre en 24 a 48h ouvrées.</p>
        </div>
        <div class="footer-part">
            <h3>À propos de Wethenew</h3>
            <p>Wethenew a pour mission de donner la possibilité a tous les amateurs, les passionnés et les curieux de sneakers et streetwear d'acheter les produits limités qui leur plaisent en toute confiance</p>
        </div>
        <div class="footer-part">
            <h3>En savoir plus</h3>
            <p><a href="">Notre concept</a></p>
            <p><a href="">Conditions de nos offres</a></p>
            <p><a href="">Wethenew Galleries Lafayette</a></p>
        </div>
        <div class="footer-part">
            <h3>Nos services</h3>
            <p><a href="">E-carte cadeau</a></p>
            <p><a href="">FAQ</a></p>
            <p><a href="">Programme Wethenew family</a></p>
            <p><a href="">Vendez votre produit</a></p>
            <p><a href="">Envoi et livraison</a></p>
        </div>
        <div class="footer-part">
            <h3>Nos collections</h3>
            <p><a href="">Sneakers Femme</a></p>
            <p><a href="">Sneakers Homme</a></p>
            <p><a href="">Sneakers Eco-responsable</a></p>
            <p><a href="">Moins de 200€</a></p>
        </div>
        <div class="footer-part">
            <h3>Retrouvez nous sur</h3>
            <div class="socialN">
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-tiktok"></i></a>
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-pinterest"></i></a>
            </div>
        </div>
    </div>





</div>