<section id="header" class="d-flex">
    <div class="title">
        <h1>Wethenew</h1>
    </div>
    <nav>
        <ul class="nav-items">
            <li><a href="#">Sneaker</a></li>
            <li><a href="#">Chaussures</a></li>
            <li><a href="#">Livraison 48h</a></li>
        </ul>
    </nav>
    <div class="search-container">
        <input type="search" id="site-search" name="q" placeholder="Rechercher..." />
        <button><i class="bi bi-search"></i></button>
    </div>
    <div class="right-icons">
        <ul class="nav-items">
            <li><a href="#"><i class="bi bi-person"></i></a></li>
            <li><a href="#"><i class="bi bi-heart"></i></a></li>
            <li><a href="#"><i class="bi bi-bag-check"></i></a></li>
            <li><a href="#"><i class="bi bi-list"></i></a></li>
        </ul>
    </div>
</section>
